.App-header {
  background-color: #222;
  height: 40px;
  color: white;
}
.Main-card{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 40px;
  padding: 20px;
  padding-left: 85px;
  width: 350px;
  min-width: 350px;
}
.Search-button{
  margin-left: 0px;
  height: 10px;
  font-size: 0.5em;
}
.Header-text{
  text-align: center;
  padding: 10px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.Input{
  text-align: center;
  margin-right: 50px;
}
.Error-card{
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 455px;
  min-width: 455px;
  text-align: center;
}
.HS-card{
  width: 307px;
}
.HS-cardmedia{
  justify-content: center;
  align-items: center;
}